.text-animate{
    display: inline-block;
    opacity: 0;
    animation: bouncIn 1s 1s;
    animation-fill-mode: forwards;
    min-width: 10px;
}

@for $i from 1 through 35{
    .text-animate._#{si}{
        animation-delay: #{$i/10}s;
    }
}

 